/*SIGN_UP */
.signUp{
    color: #000000
}
.signUp .content{}
.signUp .content{
    padding-left: 100px;
}
.signUp .content h2{
    font-weight: 800;
    font-size: 24px;
    margin-top: 150px;
    margin-bottom: 52px;
}
.signUp .content button.admin{
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    border: 0;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    margin: 24px 0;
    color: black;
    background: white;
}

.signUp .content .signUpFooter {
/*        margin-top: 60px;*/
}
.signUp .content .signUpFooter button{
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    border: 0;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    margin: 50px 0;
    color: black;
    background: white;
}
.signUp .content .signUpFooter p{
    color: #BABABA;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}
.signUp .content .signUpFooter p span a{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #000
}

/*MEADIA SIGN_UP */
@media (max-width: 990px){
    .aside img.logo{
        margin: 40px 0;
    }
    .signUp .content {
        padding-left: 20px;
    }
}
@media (max-width: 767px){
    .mainflex{
        display: block
    }
    .aside{
        width: auto
    }
}
@media (max-width: 450px){
    .signUp .content  .disF.signUpfeat{
        display: block
    }
    .signUp .content h4{
        margin: 20px 0
    }
}
/*END SIGN_UP */