/*SIGN_UP */
.aside{
    height: 100vh;
}
.aside .mainflex{}
.aside .disF{
    margin: 20px 0
}
.aside .disF img{}
.aside .disF h1{
    color: white;
    font-size: 72px;
    font-weight: bold;
    margin-left: 15px
}
.signUp{
    color: #000000
}
.signUp .content{}
.signUp .content{
    padding-left: 100px;
}
.signUp .content h2{
    font-weight: 800;
    font-size: 24px;
    margin-top: 200px;
    margin-bottom: 15px;
    font-family: 'Roboto';
}
.signUp .content > p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #5F5F5F;
}
.signUp .content .inputs{
    border-bottom: 1px solid #B9B9B9;
    padding-left: 2px;
    padding-bottom: 10px;
    margin-top: 50px;
}
.signUp .content .inputs i{
    font-size: 20px;
}
.signUp .content .inputs input{
    border: 0;
    font-size: 18px;
    font-family: Roboto;
    margin: 0 22px;
}
.signUp .content .signUpFooter {
    text-align: end;
}
.signUp .content .signUpFooter button{
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    border: 0;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    margin: 50px 0;
    color: black;
    background: white;
}
.signUp .content .signUpFooter a.forget{
    padding-bottom: 9px;
    color: #5F5F5F;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    margin-left: 33%;
}

/*MEADIA SIGN_UP */
@media (max-width: 990px){
    
    .aside img.logo{
        margin: 40px 0;
    }
    .signUp .content {
        padding-left: 20px;
    }
}
@media (max-width: 767px){
    .aside{
        height: auto;
    }
    .mainflex{
        display: block
    }
    .aside{
        width: auto
    }
}
@media (max-width: 630px){
    .aside .disF {
        display: block
    }
}
@media (max-width: 450px){
    .signUp .content  .disF.signUpfeat{
        display: block
    }
    .signUp .content h4{
        margin: 20px 0
    }
}
/*END SIGN_UP */